<p>ようこそ <%= @email %> さん！！</p>

<p>あなたの会員登録は、まだ完了していません！！</p>

<p>よろしければ、下記のリンクをクリックしてください。</p>

<p>このアドレスがあなた自身のものであることを認証し、会員登録を完了できます。</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>このメールに心当たりがない場合は、XXXまでご連絡ください。</p>

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
